:host,stencila-tooltip-element{
  z-index:50;
  width:auto;
  padding:.25rem .5rem;
  font-size:.75rem;
  box-shadow:0 1px 3px 0 rgba(0,0,0,.1),0 1px 2px 0 rgba(0,0,0,.06);
  border-radius:.375rem;
  background-color:#1a202c;
  background-color:var(--color-neutral-900,#1a202c);
  color:#fff;
  color:var(--color-stock,#fff);
  font-family:sans-serif;
  font-family:var(--font-family-body,sans-serif)
}
