:host,stencila-code-error{
  position:relative;
  display:block;
  width:100%;
  padding:.5rem;
  border-radius:.25rem;
  font-family:sans-serif;
  font-family:var(--font-family-body,sans-serif);
  border-color:#ed8936;
  border-color:var(--color-warn-500,#ed8936);
  background-color:#fffaf0;
  background-color:var(--color-warn-100,#fffaf0);
  color:#7b341e;
  color:var(--color-warn-900,#7b341e)
}

:host .overview *,stencila-code-error .overview *{
  vertical-align:middle
}

:host .overview stencila-icon,stencila-code-error .overview stencila-icon{
  margin-right:.5rem
}

:host [slot=summary],stencila-code-error [slot=summary]{
  font-size:.75rem;
  letter-spacing:.05em;
  text-transform:uppercase
}

:host stencila-details,stencila-code-error stencila-details{
  display:block
}

:host [slot=stacktrace],stencila-code-error [slot=stacktrace]{
  margin:0;
  background-color:#fff;
  background-color:var(--color-stock,#fff);
  border-color:#ed8936;
  border-color:var(--color-warn-500,#ed8936);
  color:#000;
  color:var(--color-key,#000)
}

:host([kind=error]),:host([kind=incapable]),stencila-code-error[kind=error],stencila-code-error[kind=incapable]{
  border-color:#f56565;
  border-color:var(--color-danger-500,#f56565);
  background-color:#fff5f5;
  background-color:var(--color-danger-100,#fff5f5);
  color:#742a2a;
  color:var(--color-danger-900,#742a2a)
}

:host([kind=error]) [slot=stacktrace],:host([kind=incapable]) [slot=stacktrace],stencila-code-error[kind=error] [slot=stacktrace],stencila-code-error[kind=incapable] [slot=stacktrace]{
  border-color:#f56565;
  border-color:var(--color-danger-500,#f56565)
}
