:host,stencila-details{
  position:relative;
  display:block;
  font-family:sans-serif;
  font-family:var(--font-family-body,sans-serif)
}

:host .contents,stencila-details .contents{
  overflow:hidden
}

:host .contents.hidden,stencila-details .contents.hidden{
  display:none
}

:host(::slotted([slot=summary])),:host ::slotted([slot=summary]),stencila-details::slotted([slot=summary]),stencila-details ::slotted([slot=summary]){
  cursor:pointer
}

:host .disclosure-toggle,stencila-details .disclosure-toggle{
  position:absolute;
  top:0;
  right:0;
  cursor:pointer;
  transition:transform .12s ease-in-out;
  transform:rotate(0deg)
}

:host .disclosure-toggle svg,stencila-details .disclosure-toggle svg{
  stroke:#a0aec0;
  stroke:var(--color-neutral-500,#a0aec0)
}

:host([isopen=true]) .disclosure-toggle,stencila-details[isopen=true] .disclosure-toggle{
  transform:rotate(180deg)
}

:host(:focus) ::slotted(.disclosure-toggle>svg),:host(:focus::slotted(.disclosure-toggle)>svg),:host(:hover) ::slotted(.disclosure-toggle>svg),:host(:hover::slotted(.disclosure-toggle)>svg),stencila-details:focus::slotted(.disclosure-toggle>svg),stencila-details:focus ::slotted(.disclosure-toggle>svg),stencila-details:hover::slotted(.disclosure-toggle>svg),stencila-details:hover ::slotted(.disclosure-toggle>svg){
  stroke:#4a5568;
  stroke:var(--color-neutral-700,#4a5568)
}
