:host,stencila-code-expression{
  /** @prop --background: Background color of the Code Output section */
  --background:var(--color-stock,#fff);
  /** @prop --background-buttons: Background color of the Code Editor section */
  --background-buttons:var(--color-neutral-200,#edf2f7);
  /** @prop --background-editor: Background color of the Code Editor section */
  --background-editor:var(--color-neutral-200,#edf2f7);
  /** @prop --border: Border color around the component as well as internal section dividers */
  --border:var(--color-neutral-300,#e2e8f0);
  display:inline-flex;
  align-items:stretch;
  padding:0;
  font-size:.875rem;
  line-height:1;
  vertical-align:text-bottom;
  border-width:1px;
  border-style:solid;
  border-radius:.25rem;
  background-color:var(--background);
  border-color:var(--border)
}

:host stencila-tooltip,stencila-code-expression stencila-tooltip{
  display:inline-flex;
  align-items:stretch;
  padding:0;
  overflow:hidden;
  line-height:1;
  vertical-align:bottom
}

:host .actions,stencila-code-expression .actions{
  position:relative;
  display:inline-flex;
  flex:0 1 auto;
  white-space:nowrap;
  border-top-left-radius:.25rem;
  border-bottom-left-radius:.25rem;
  background-color:var(--background-buttons)
}

:host .text,stencila-code-expression .text{
  display:inline-block;
  width:0;
  min-width:0;
  padding:.25rem 0;
  overflow:hidden;
  font-family:monospace;
  font-family:var(--font-family-mono,monospace);
  font-size:.75rem;
  white-space:nowrap;
  transition-duration:.15s;
  transition-timing-function:cubic-bezier(0,0,.2,1);
  color:#000;
  color:var(--color-key,#000);
  background-color:var(--background-editor);
  transition-property:width
}

:host .output,:host ::slotted([slot=output]),:host [slot=output],stencila-code-expression .output,stencila-code-expression ::slotted([slot=output]),stencila-code-expression [slot=output]{
  display:inline-block;
  padding:.25rem .5rem .25rem .25rem;
  font-family:monospace;
  font-family:var(--font-family-mono,monospace);
  font-size:.75rem;
  border-style:none;
  background-color:#fff;
  background-color:var(--color-stock,#fff);
  color:#000;
  color:var(--color-key,#000);
  background-color:var(--background);
  transition:padding .12s ease-out
}

:host .output stencila-icon,:host ::slotted([slot=output]) stencila-icon,:host [slot=output] stencila-icon,stencila-code-expression .output stencila-icon,stencila-code-expression ::slotted([slot=output]) stencila-icon,stencila-code-expression [slot=output] stencila-icon{
  --height:1rem;
  height:1rem
}

:host .output stencila-icon svg,:host ::slotted([slot=output]) stencila-icon svg,:host [slot=output] stencila-icon svg,stencila-code-expression .output stencila-icon svg,stencila-code-expression ::slotted([slot=output]) stencila-icon svg,stencila-code-expression [slot=output] stencila-icon svg{
  height:1rem;
  stroke:#dd6b20;
  stroke:var(--color-warn-600,#dd6b20)
}

:host .slot.hidden,stencila-code-expression .slot.hidden{
  display:none
}

:host .output>*,stencila-code-expression .output>*{
  display:inline-block;
  padding:0;
  margin:0;
  font-family:monospace;
  font-family:var(--font-family-mono,monospace);
  font-size:.75rem;
  border-style:none;
  background-color:#fff;
  background-color:var(--color-stock,#fff);
  color:#000;
  color:var(--color-key,#000)
}

:host .divider,stencila-code-expression .divider{
  align-self:center;
  display:inline-block;
  width:.5rem;
  max-height:1em;
  fill:var(--background-buttons)
}

:host(.isCodeVisible) .text,stencila-code-expression.isCodeVisible .text{
  display:inline-block;
  width:auto;
  padding:.25rem .5rem;
  white-space:pre-line;
  min-width:1em
}

:host(.isCodeVisible) .divider,stencila-code-expression.isCodeVisible .divider{
  fill:var(--background-editor)
}

:host .actions stencila-button,stencila-code-expression .actions stencila-button{
  display:inline-flex;
  align-items:stretch;
  align-self:flex-start;
  flex-shrink:0;
  overflow:hidden;
  cursor:default;
  transition-property:background-color,border-color,color,fill,stroke,opacity,box-shadow,transform;
  transition-timing-function:cubic-bezier(0,0,.2,1);
  transition-duration:.15s;
  transition-property:padding,width,max-width
}

:host .actions stencila-button.sourceToggle,stencila-code-expression .actions stencila-button.sourceToggle{
  display:inline-block;
  width:0
}

:host(.isOutputEmpty) .output,:host(.isOutputEmpty) ::slotted([slot=output]),:host(.isOutputEmpty) [slot=output],:host(.isOutputEmpty) stencila-tooltip,stencila-code-expression.isOutputEmpty .output,stencila-code-expression.isOutputEmpty ::slotted([slot=output]),stencila-code-expression.isOutputEmpty [slot=output],stencila-code-expression.isOutputEmpty stencila-tooltip{
  color:#718096;
  color:var(--color-neutral-600,#718096)
}

:host(.hover) .actions stencila-button.sourceToggle,:host(:focus) .actions stencila-button.sourceToggle,:host(:focus-within) .actions stencila-button.sourceToggle,:host(:hover) .actions stencila-button.sourceToggle,stencila-code-expression.hover .actions stencila-button.sourceToggle,stencila-code-expression:focus-within .actions stencila-button.sourceToggle,stencila-code-expression:focus .actions stencila-button.sourceToggle,stencila-code-expression:hover .actions stencila-button.sourceToggle{
  display:inline-flex;
  width:2rem;
  max-width:100%
}
